<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4><%= @user.name %></h4>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>フォロー数</th>
          <th>
            <%= link_to user_followings_path(@user.id) do %>
              <%= @user.followings.count %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>フォロワー数</th>
          <th>
            <%= link_to user_followers_path(@user.id) do %>
              <%= @user.followers.count %>
            <% end %>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render "post_images/list", post_images: @post_images %>
    </div>
  </div>
</div>







